/* Typography is the way that text is arranged and presented. */
@import url("https://fonts.googleapis.com/css2?family=Roboto:ital,wght@0,100..900;1,100..900&display=swap");
body {
  padding: 10%;
  font-size: 2rem;
  font-family: "Roboto", sans-serif;
  font-optical-sizing: auto;
  font-style: normal;
  font-variation-settings: "wdth" 100;
}

/* input, button{
    font: inherit;
} */

p {
  line-height: 1.5;
}
